/* @import "reset-css"; */
@import "./create_styleurl/fonts.css";

.StyleURLShadowDOMRoot,
textarea,
div,
input {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.StyleURLShadowDOMRoot {
    margin: 0;
    padding: 0;
    font-size: 10pt;
    height: 100%;
    width: 100%;
}

h1,
h2,
h3 {
    margin: 0;
    padding: 0;
    font-weight: 600;
}

.ShareTextInput {
    padding: 14px;
    color: white;
    font-size: 12px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    overflow: hidden;
}

.ViewChanges-actions {
    display: flex;
    border-top: 1px solid #13161b;
}

.ViewChanges-separator {
    height: 31px;
    width: 1px;
    display: block;
    flex-shrink: 0;
    flex-grow: 0;
    content: "";
}

.ViewChanges-action {
    display: flex;
    align-items: center;
    flex: 0.5;
    color: white;
    justify-content: center;
    padding: 6px 8px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
}

.ViewChanges-action-icon {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 8px;
}

.ViewChanges-action:hover,
.ViewChanges-separator {
    background-color: #13161b;
}

.ShareLink {
    font-size: 14px;
    color: #fff;
    background-color: rgb(65, 70, 81);
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 0;
    outline: 0;
    padding: 6px 8px;
    width: 200px;
    display: none;
}

.ShareLink--shown {
    display: inline-block;
}
