doctype html

html
  head
    meta(charset='UTF-8')
    title "Create StyleURL"
    link(id="root_stylesheet" rel="stylesheet" href='/create_styleurl.css')

  body
    #root
    script(src='/create_styleurl.bundle.js')
