doctype html

html
  head
    meta(charset='UTF-8')
    title Redux TodoMVC Example (Popup)
    link(id="root_stylesheet" rel="stylesheet" href='/popup.css')

  body
    #root
    script(src='/popup.bundle.js')
