.Button {
    display: flex;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
}

.Button-text {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: inherit;
    user-select: none;
}

.Button--size-default {
    padding: 4px 14px;
}

.Button--color-blue {
    color: white;
    background-color: #5A95FF;
}

.Button--color-default {
    color: white;
    background-color: transparent;
}

.Button-icon,
.Button-icon svg {
    height: 20px;
    width: 20px;
}

.Button-icon {
    margin-right: 4px;
}
