.Dropdown {
    position: relative;
}

.Dropdown-content {
    padding: 14px 18px;
    align-items: center;
    cursor: pointer;
    white-space: nowrap;
    display: flex;
    color: white;
}

.Dropdown-content:hover,
.Dropdown--open .Dropdown-content,
.Dropdown-child {
    background-color: #21262F;
}

.Dropdown-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    user-select: none;
}

.Dropdown-icon {
    margin-right: 8px;
}

.Dropdown-child {
    position: absolute;
    bottom: 51px;
    right: 0;
    box-shadow: 1px -1px 1px #ccc;
}
