.StylesheetCodePreview {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    overflow: hidden;
}

.StylesheetCodePreview-Actions {
    text-align: center;
    display: flex;
    justify-content: center;
}

.StylesheetCodePreview-Actions a.Button {
    width: 100%;
    justify-content: center;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white !important;
}
